# Example of secrets.properties file

server.port=9999

account-registration.temporary-password-expiration-days=7

security.secret-key=secret_key
security.access-token-validity-ms=3600000
security.refresh-token-validity-ms=604800000

smtp.host=example.com
smtp.port=587
smtp.username=username@example.com
smtp.password=password

datasource.url=jdbc:postgresql://localhost:5432/kub_education
datasource.username=admin
datasource.password=admin_password

data.redis.host=localhost
data.redis.port=6379
data.redis.username=admin
data.redis.password=admin_password
